<html x-ng-app="">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
	<script src = "script.js"> </script>
	<link rel="stylesheet" href =
	"style.css" />
	<title></title>
</head>
<body x-ng-controller="TicTacToeController">

	<div class="container">
		<div x-ng-repeat="b in board track by $index" x-ng-class="{cells: true, xMove: b == 'X', oMove: b == 'O'}" x-ng-click ="clicker($index)"> {{ b }}
		</div>
	</div>
	<button class="reset" x-ng-click="reset ()">RESET</button>
	<h1> Green: {{xWins}} <br/>Orange: {{oWins}} </h1>
</body>
</html>