
.container { 
	width: 462px; 
	margin: 0 auto;
}
.cells {
	height: 150px;
	width: 150px;
	border: 2px solid white;
	background-color: gray;
	float: left;
	border-radius: 10px;
}

.xMove {
	background-color: green;
	color: green;

}
.oMove {
	background-color: orange;
	color: orange;
}
.bgblue {
	background-color: blue;
}
h1 {
	text-align: center;
	float: left;
	position: relative;
	display: inline-block;
}